<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
     <session-factory>
     	<property name="hibernate.connection.datasource">java:/comp/env/jdbc/SBCDB</property>
        <property name="connection.useUnicode">true</property>
        <property name="connection.characterEncoding">UTF-8</property>

        <!-- conexao direta do hibernate sem conection pool -->
        <!--
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/xdb</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        -->

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
	<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="show_sql">true</property>
        <mapping resource="Usuario.hbm.xml"/>
        <mapping resource="Pessoa.hbm.xml"/>
        <mapping resource="PessoaFisica.hbm.xml"/>
        <mapping resource="PessoaJuridica.hbm.xml"/>
        <mapping resource="Curriculo.hbm.xml"/>
        <mapping resource="Vaga.hbm.xml"/>
        <mapping resource="Candidatura.hbm.xml"/>
      </session-factory>
</hibernate-configuration>